@use 'settings/variables' as v;
@use 'tools/mixins' as m;

.c-contacto {
    background-image: url(../img/oficina.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-top: 1.25rem;
    padding: 1rem;
    @include m.tablet {
        width: calc( 100% - 2.5rem);
    }
    @include m.desktop {
        padding: 6.25rem;
    }
    &__formulario {
        padding: .5rem;
        @include m.flex (column, nowrap, center, center);
        @include m.tablet {
            @include m.flex (row, nowrap, space-between, flex-start);
        }
    }
    &__datos {
        @include m.flex (column, nowrap, space-between, center);
        padding-bottom: 1rem;
        @include m.tablet {
            padding: 0 2rem;
        }
    }
    &__h3 {
        font-size: 1.5em;
        padding: 1rem;

        @include m.telefono-m {
            font-size: 1.8em;
        }
        @include m.telefono-xl {
            font-size: 2.5em;
            padding: 2rem;
        }
        @include m.tablet {
            font-size: 3em;
        }
    }
    &__li {
        padding: .1875rem;
        i {
            margin: 0 .9375rem;
        }
    }
    &__sociales {
        padding: 1rem;
        @include m.flex (row, nowrap, center, center);
        a {
            margin: .3125rem;
            font-size: 1.25rem;
        }
    }
    &__inputs {
        // grid-column: span 3;
        width: 85%;
        @include m.telefono-xl {
            width: 90%;
        }
        @include m.tablet {
            width: 100%;
        }
        input, textarea {
            width: 100%;
            padding: .625rem;
            border: 2px solid map-get(v.$colores, color-fondo);
            border-radius: .625rem;
            margin: .625rem 0;
        }
        textarea {
            min-height: 7.5rem;
            max-height: 18.75rem;
            min-width: 100%;
            max-width: 100%;
        }
    }
    &__btn {
        margin: 20px 0;
        color: map-get(v.$colores, color-primario);
    }
    &__respuesta {
        width: 100%;
        @include m.flex (column, nowrap, space-around, center);
    }
}