@use 'settings/variables' as v;
@use 'tools/mixins' as m;

.c-efecto {
    &__ola-1 {
        fill: map-get(v.$colores, color-ola-1);
    }
    &__ola-2 {
        fill: map-get(v.$colores, color-ola-2);
    }
    &__ola-3 {
        fill: map-get(v.$colores, color-ola-3);
    }
}