
/*  tamaños para media queries (desde este tamaño en adelante, ej: @media (min-width: $tablet) */
$medidas: (
    "telefono-m": 320px,
    "telefono-xl": 480px, //por encima pasamos a tablet
    "tablet": 768px,
    "desktop": 960px, // por encima pasamos a ordenador
    "desktop-m": 1024px,
    "desktop-xl": 1440px
);

/* fuente principal */
$fuentes: (
    "tipo-principal": Helvetica Arial sans-serif,
    "tipo-secundaria": Verdana
);

/* colores */
$dark-theme: "dark-theme";
$light-theme: "light-theme";

$color-primario: "color-primario";
$color-secundario: "color-secundario";
$color-fondo: "color-fondo";      //rgb(255, 193, 0)
$color-fondo-transp: "color-fondo-transp";
$color-fondo-img-dark: "color-fondo-img-dark";
$color-ola-1: "color-ola-1";
$color-ola-2: "color-ola-2";
$color-ola-3: "color-ola-3";
$posicion-img-JC: "posicion-img";
$fondo-contacto: "fondo-contacto";
$color-hover-boton: "color-hover-boton";
$color-hover: "color-hover";
$color-activo: "color-activo";


$themes: (
    $light-theme: (
        color-primario: #181818,
        color-secundario: #f0f0f0,
        color-fondo: #ffc100e0,   //rgb(255, 193, 0)
        color-fondo-transp: #ffc1007d,
        color-fondo-img-dark: #ffc100e0,
        color-ola-1: #f0f0f033,
        color-ola-2: #f0f0f080,
        color-ola-3: #f0f0f0,
    ),
    $dark-theme: (
        color-primario: #f0f0f0,
        color-secundario: #181818,
        color-fondo: #ffc1007d,   //rgb(255, 193, 0)
        color-fondo-transp: #ffc100e0,
        color-fondo-img-dark: #343d5b,
        color-ola-1: #18181833,
        color-ola-2: #18181880,
        color-ola-3: #181818,
    )
);

$colores: (
    "color-primario": #181818,
    "color-secundario": #f0f0f0,
    "color-hover-boton":#10209A40,
    "color-hover": #5D4CC9,
    "color-fondo": #ffc100e0,   //rgb(255, 193, 0)
    "color-fondo-transp": #ffc1007d,
    "color-activo": #61CE70
); 

